*{
    padding: 0;
    margin: 0;
    background: #373AF5;
    background-image: url(./images/Academy-Weather\ forecast-Bg-buttom.png), url(./images/Academy-Weather\ forecast-Bg-up-1.png);
    /* background-image: url(./images/Academy-Weather\ forecast-Bg-up-1.png); */
}
